#controles ul {
  list-style-type: none;
  padding: 0;
  transform: translateX(-80%);
}

#controles ul:hover {
  transform: translateX(0);
}

/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
  transition-duration: 800ms;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas *sugestões*:
 *   - com-fome: animal piscando (opacidade variando)
 *   - satisfeito: uma borda verde no animal e o animal fica girando de alegria
 *   - com-raiva: animal fica pulsando
 *   - atacando: animal dá um salto e cresce, com uma borda vermelha
 */
.com-fome {
  animation: fome 0.5s infinite alternate;
}

@keyframes fome {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}


.satisfeito {
  border-color: green;
  animation: feliz 1s;
}

@keyframes feliz {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(10deg); }
  50%  { transform: rotate(-10deg); }
  75%  { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}


.com-raiva {
  animation: raiva 0.3s infinite alternate;
}

@keyframes raiva {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}


.atacando {
  border-color: red;
  animation: ataque 0.4s;
}

@keyframes ataque {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-20px) scale(1.2);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}